*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#111;
    color:white;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.logo span{
    font-weight:normal;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
}

nav a:hover{
    color:orange;
}

.btn{
    background:orange;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}

.hero{
    height:90vh;
    background:url("https://images.unsplash.com/photo-1503387762-592deb58ef4e") no-repeat center/cover;
    display:flex;
    align-items:center;
    padding-left:100px;
    color:white;
}

.hero-text h1{
    font-size:60px;
}

.hero-text p{
    margin:20px 0;
    font-size:20px;
}

.hero-buttons button{
    padding:12px 25px;
    margin-right:10px;
    border:none;
    cursor:pointer;
}

.orange{
    background:orange;
    color:white;
}

.white{
    background:transparent;
    border:1px solid white;
    color:white;
}

.about{
    display:flex;
    padding:80px 60px;
}

.about-left{
    width:50%;
}

.about-left h2{
    color:#d94c3d;
    margin-bottom:30px;
}

.about-left h3{
    margin-bottom:20px;
}

.about-right{
    width:50%;
}

.about-right img{
    width:100%;
}

.info{
    display:flex;
    padding:80px 60px;
}

.info-left{
    width:50%;
}

.info-left img{
    width:100%;
}

.info-right{
    width:50%;
    padding-left:40px;
}

.info-right h2{
    margin-bottom:20px;
}